<nav class="flex flex-wrap items-center px-8 py-4 bg-gray-200 shadow-sm">
  <div class="mb-0 text-xl font-semibold text-center">
    <%= Rails.application.class.module_parent_name %>
  </div>
  <ul class="flex ml-auto space-x-4">
    <li>
      <%= link_to "Home",
                  root_path,
                  class: "text-gray-600 hover:text-sky-600 font-medium #{current_page?(root_path) ? 'text-sky-600' : nil }"
      %>
    </li>
    <li>
      <a href="#" class="font-medium text-gray-600 hover:text-sky-600">About us</a>
    </li>
    <li>
      <a href="#" class="font-medium text-gray-600 hover:text-sky-600">Blog</a>
    </li>
    <li>
      <a href="#" class="font-medium text-gray-600 hover:text-sky-600">Contact</a>
    </li>
  </ul>
</nav>
